.container {
    background-color: #ffca63;
    margin: 0;
    height: 125vh;
    width: 100vw;
    max-width: 2000px;
  }
  
  #burgerpic {
    width: 12em;
    height: 9em;
    position: relative;
    animation-name: burgerSlide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
  }
  
  @keyframes burgerSlide {
    0% {
        left: 43vw;
        top: -28em;
    }
    25% {
        left: 43vw;
        top: -20em;
    }
    50% {
        left: 43vw;
        top: -12em;
    }
    75% {
        left: 43vw;
        top: -4em;
    }
    100% {
        left: 43vw;
        top: 4em;
    }
  }
  
  #submit {
    text-align: center;
  }
  
  #burgerName {
    height: 2.5em;
    width: 75%;
    margin-bottom: .5em;
  }
  
  ol {
    background-color: #fff;
    z-index: 10;
    position: relative;
  }
  
  .devour {
    position: absolute;
    left: 103%;
    height: 2.25em;
  }

  .devour:hover{
    color:  white
  }

  .create:hover{
    color:  white
  }
  
  li {
    margin-bottom: .5em;
    height: 2em
  }
  
  #noDevour {
    position: absolute;
    z-index: 0;
    color: red;
    font-weight: 700;
    top: 22em;
    width: 23em;
    text-align: center;
  }
  
  #noCreate {
    position: absolute;
    z-index: 0;
    color: red;
    font-weight: 700;
    top: 22em;
    width: 23em;
    text-align: center;
  }